.headerContainer{
    width: 80%;
    margin:auto;
    padding-top:3em;
    padding-bottom:3em;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.navList li button{
    outline: none;
    border: none;
    padding: 12px;
    border-radius:2em;
    background-color:rgb(207,63,116);
    color:white;
    cursor: pointer;

}
.navList{
    list-style:none;
    display:flex;
    align-items:center
}
.navList li{
    padding-left: 2em;
    font-family: 'Roboto';
    font-weight: 600;
    cursor: pointer;
    font-size:12px;
    transition: all 0.6s ease;
}
.navList li:hover{
    color: gray;
}

@media only screen and (max-width: 1200px){
    .navList{
        display:none;
    }
}